{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
  Formulario
{% endblock %}

{% block content %}
  {% if todo.pk  %}
  <h1>Editar Tarefa</h1>
  {% else %}
  <h1>Nova Tarefa</h1>
  {% endif %}
  

  <form action="" method="post">
    {% csrf_token %}
    <div class="form-group">{{ form|crispy }}</div>


    {% if todo.pk  %}
    <button class="btn btn-success" type="submit">Editar</button>
    {% else %}
    <button class="btn btn-primary" type="submit">Salvar</button>

    {% endif %}
    
   
  </form>
{% endblock %}
