{% extends 'base.html' %}

{% block title %}
  Lista de tarefas
{% endblock %}

{% block content %}
  <h1>Lista de Tarefas</h1>

  {% if todos %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Titulo</th>
          <th scope="col">Data de Criação</th>
          <th scope="col">Data de Entrega</th>
          <th scope="col">Data de Finalização</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for todo in todos %}
          <tr>
            <th scope="row">{{todo.pk}}</th>
            <td>{{ todo.title }}</td>
            <td>{{ todo.create_at }}</td>
            <td>{{ todo.deadline }}</td>
            <td>{{ todo.finshed_at|default:'_' }}</td>
            <td>
            
            <a  href="{% url 'todo_complete' pk=todo.pk %}"  type="button" class="{% if todo.finshed_at  %}  disabled{% endif %} btn btn-success btn-sm">Concluir</a>
            <a href="{% url 'todo_update' pk=todo.pk %}" type="button" class="{% if todo.finshed_at  %}  disabled{% endif %} btn btn-primary btn-sm">Editar</a>

              <a href="{% url 'todo_delete' pk=todo.pk %}" type="button" class="btn btn-danger btn-sm">Excluir</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h6>Nenhuma tarefa cadastra cadastradas</h6>
  {% endif %}

  <a href="{% url 'todo_create' %}" class="btn btn-success my-3">Adicionar Nova Tarefa</a>
{% endblock %}
